/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require bootstrap/dist/css/bootstrap.min
*= require bootstrap-datepicker/css/datepicker
*= require_self
*/

@import "../vendor/flat-ui/less/variables";

html, body {
  width: 100%;
  max-width: 100%;
  font-family: HelveticaNeue-Light, Helvetica-Neue, Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 40px;
}

.cursor {
  cursor: pointer;
}

#content {
  padding: 0 40px;
}

.debit {
  background-color: @state-danger-bg;
}

.credit {
  background-color: @state-success-bg;
}

.transfer {
  background-color: @state-warning-bg;
}

.receipt {
  max-width: 100%;
}

.currentStep, .step, .nextLink, .prevLink {
  padding: 5px;
}

.currentStep {
  background-color: #ddd;
  cursor: not-allowed;
}

.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }

.table-condensed {
  tbody > tr > td {
    padding: 2px;
  }
}

.graph {
  min-height: 300px;
}

.navbar {
  border-radius: 0;
}

.checkbox {
  padding-left: 0;

  input[type="checkbox"] {
    margin-top: 11px;
  }
}

.mobile-account {
  padding: 20px;
  background-color: #eee;
}

.mobile-transaction {
  padding: 10px;
  background-color: #eee;
}

.tooltip-link {
  cursor: pointer;
}