<div id="content" ng-switch="isLoaded()">
  <div class="row">
    <div class="col-md-12">
      <div class="pull-left">
        <h1>Transactions</h1>
      </div>
      <div class="pull-right" ng-switch-when="true">
        <div class="form-group pull-left" style="margin-right:10px">
          <label for="filter-account">Account:</label>
          <select class="form-control domain-property" id="filter-account">
            <option value="ALL">ALL</option>
            <option ng-repeat="account in accounts" value="{{account.id}}">{{account.description}}</option>
          </select>
        </div>
        <div class="form-group pull-left" style="margin-right:10px">
          <label for="filter-category">Category:</label>
          <select class="form-control domain-property" id="filter-category">
            <option value="ALL">ALL</option>
            <optgroup label="{{category.name}}" ng-repeat="category in categories">
              <option data-type="{{subcategory.type.value}}" value="{{subcategory.id}}"
                      ng-repeat="subcategory in category.subcategories">
                {{subcategory.name}}
              </option>
            </optgroup>
          </select>
        </div>
        <div class="form-group pull-left">
          <label for="items-per-page">Per Page:</label>
          <select id="items-per-page" class="form-control" ng-model="$parent.itemsPerPage">
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="30">30</option>
            <option value="50">50</option>
          </select>
        </div>
      </div>
      <div class="clearfix"></div>
      <br>

      <pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" items-per-page="itemsPerPage" boundary-links="true" rotate="false" num-pages="numPages" ng-change="pageChanged()"></pagination>

      <div id="transaction-error" class="alert alert-danger" ng-show="errorShown">
        <div id="transaction-error-message">{{ errorMessage }}</div>
      </div>

      <div class="table-responsive">
        <form name="form" onsubmit="return false" novalidate="">
        <table class="table table-condensed table-hover" ng-switch-when="true">
          <thead>
          <tr>
            <th>Date <span ng-show="form.$submitted && form.date.$error.required" class="form-error">Required</span></th>
            <th>Description <span ng-show="form.$submitted && form.description.$error.required" class="form-error">Required</span></th>
            <th>
              Amount
              <span ng-show="form.$submitted && form.amount.$error.required" class="form-error">Required</span>
              <span ng-show="form.$submitted && form.amount.$error.number" class="form-error">Must be a number.</span>
            </th>
            <th>From Account <span ng-show="form.$submitted && form.fromAccount.$error.required" class="form-error">Required</span></th>
            <th>Category <span ng-show="form.$submitted && form.subCategory.$error.required" class="form-error">Required</span></th>
            <th>To Account</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
            <tr>
              <td><input type="date" class="form-control domain-property" id="date" name="date" placeholder="Date" ng-model="newTransaction.date" required></td>
              <td><input type="text" class="form-control domain-property" id="description" name="description"
                         placeholder="Transaction Description" ng-model="newTransaction.description" required></td>
              <td><input type="number" class="form-control domain-property" id="amount" step="0.01" name="amount"
                         placeholder="Amount" ng-model="newTransaction.amount" required></td>
              <td>
                <select class="form-control domain-property" name="fromAccount" id="fromAccount" ng-model="newTransaction.fromAccount" required>
                  <option ng-repeat="account in accounts" value="{{account.id}}">{{account.description}}</option>
                </select>
              </td>
              <td>
                <select class="form-control domain-property" name="subCategory" id="subCategory" ng-model="newTransaction.subCategory" required>
                  <optgroup label="{{category.name}}" ng-repeat="category in categories">
                    <option data-type="{{subcategory.type.value}}" value="{{subcategory.id}}"
                            ng-repeat="subcategory in category.subcategories">
                      {{subcategory.name}}
                    </option>
                  </optgroup>
                </select>
              </td>
              <td>
                <select class="form-control domain-property" id="toAccount" disabled="disabled" ng-model="newTransaction.toAccount">
                  <option ng-repeat="account in accounts" value="{{account.id}}">{{account.description}}</option>
                </select>
              </td>
              <td>
                <button id="submit" type="submit" class="btn btn-primary" ng-click="createTransaction()">New</button>
              </td>
            </tr>
          <tr id="transaction-" class="{{transaction.cssClass}}" ng-repeat="transaction in transactions">
            <td><span id="transaction-{{transaction.id}}-date">{{transaction.date}}</span></td>
            <td><span id="transaction-{{transaction.id}}-description">{{transaction.description}}</span></td>
            <td>$<span id="transaction-{{transaction.id}}-amount">{{transaction.amount}}</span></td>
            <td><span id="transaction-{{transaction.id}}fromAccount">{{transaction.fromAccount.description}}</span></td>
            <td><span id="transaction-{{transaction.id}}-subCategory">{{transaction.subCategory.name}}</span></td>
            <td><span id="transaction-{{transaction.id}}-toAccount">{{transaction.toAccount.description}}</span></td>
            <td>
              <a href="#" class="transaction-edit" data-id="${transaction.id}"><i
                  class="glyphicon glyphicon-pencil"></i></a>
              <a href="#" class="transaction-delete" data-id="${transaction.id}"><i
                  class="glyphicon glyphicon-remove"></i></a>
            </td>
          </tr>
          </tbody>
        </table>
        </form>
      </div>
    </div>
  </div>
</div>